.app {
  text-align: center;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.something-more{
  font-size:30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  text-align: center;
  max-width: 1024px;
  margin: 10px auto;
  flex-basis: calc(100vh - 400px);
}