.searchInput {
  @media (max-width:768px){
    width: 70%;
  }
  @media (min-width:768px) {
    width: 400px;
  }
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchButton {
  border-radius: 0;
  border-left: 0;
  border-right: lightgray solid 1px;
}

.resetButton {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}