.color-black-default{
  color:black;
}
.bold {
  font-weight: 800;
}

.label{
  justify-content: center;
  display:flex;
  flex-direction: flex-row;
  align-items: center;
}

.default-gap{
  gap:2px;
}

.start-gap{
  gap:10px;
}

.title{
  font-size:1rem;
  color:#202020;
  align-self: start;
  justify-self: start;
}

.align-start{
  align-self: start;
  justify-self: start;
  text-align: justify;
}

.wrapper-content{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap:1rem;
  padding-top:1.1rem;
  flex:1;
}

.movie{
  display:flex;
  @media (max-width:768px){
    flex-direction: column-reverse;
  }
  @media (min-width:768px) {
    flex-direction: row;
    gap: 1rem;
  }
}

.display-none{
  visibility: hidden;
}

.btn-display{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:5px;
}

.border-disable{
  border:none !important;
  box-shadow: none;
}

.ui5-card-root{
  box-shadow: none;
}

.wrapper-image{
  @media (max-width:768px){
    width:100%;
    max-height:300px;
    height:300px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  @media (min-width:768px) {
    max-width:200px;
    max-height:300px;
    width:200px;
    height:300px;
    border: black solid 1px;
  }
  display:flex;
  justify-content: center;
  align-items: center;
}

.image{
  @media (max-width:768px){
    width:200px;
    height:300px
  }
  @media (min-width:768px) {
    width:100%;
    height:100%;
  }
}

.not-render {
  max-width: 0px;
  max-height: 0px;
}

.ui5-card-root{
  box-shadow: none !important;
}

.movie-wrapper{
  margin-bottom:1rem;
  @media (max-width:768px){
    height:auto;
    flex-direction: column-reverse;
    padding: 1rem;
  }
  @media (min-width:768px) {
    padding:1rem;
    flex-direction: row;
    height:400px;
  }

}